<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jd="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/jdbc
        http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">

    <context:component-scan base-package="com.sandbox"/>
    <context:annotation-config/>

    <!--<context:property-placeholder location="classpath:/sql.properties"/>-->

    <!--<bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">-->

        <!--<constructor-arg type="javax.sql.DataSource" ref="dataSource"/>-->
    <!--</bean>-->

    <!-- Below configuration has been added to enable in memory DB HSQLDB  -->
    <!--<jd:embedded-database id="dataSource" type="HSQL">-->
        <!--  <jd:script location="classpath:drop.sql"/> -->
        <!--<jd:script location="classpath:schema.sql"/>-->
        <!--<jd:script location="classpath:test-data.sql"/>-->
    <!--</jd:embedded-database>-->


</beans>